:root {
  //--primary-color: 113, 242, 116; //#71F274
  //--secondary-color: 18, 18, 18; //#121212

  --primary-color: 0, 177, 255;
  --secondary-color: 2, 30, 51;
  // --secondary-color: 255, 255, 255;

  --fx-white: 255, 255, 255;
  --fx-dark: 18, 18, 18;
}
